<div class="container-fluid pt-5 vh-100 bg-notfound-page">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <h1 class="display-1 fw-bolder text-white text-404 text-center"> 404</h1>
            <h1 class="display-2 fw-bolder text-white custom-404 text-center">PAGE NOT FOUND</h1>
        </div>
    </div>
</div>
<app-portfolio>
    <h1 class="demo" appAttr> Hello World...!</h1>
    <p appAttr> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, culpa?</p>
</app-portfolio>