<!-- <div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form (ngSubmit)="validateForm(signUp)" #signUp="ngForm">
                <div class="mb-3">
                    <label class="form-label" for="username">User Name</label>
                    <input type="text" class="form-control" id="username" ngModel name="username" pattern="[a-zA-Z]+$"
                        #user="ngModel" required />
                    <span class="text-danger form-text" *ngIf="user.invalid && user.touched"><i
                            class="bi bi-exclamation-triangle-fill"></i> Please enter a Valid Name!
                    </span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        ngModel name="email" required #email="ngModel" email>
                    <div id="emailHelp" class="form-text text-danger" *ngIf="email.invalid && email.touched"><i
                            class="bi bi-exclamation-triangle-fill"></i> Please
                        Enter a valid
                        Email
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password"
                        required #password="ngModel">
                    <span *ngIf="password.invalid && password.touched" class="text-danger form-text"> <i
                            class="bi bi-exclamation-triangle-fill"></i> Please Enter Min
                        of 4
                        letters </span>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="signUp.invalid">Submit</button>
            </form>
        </div>
    </div>
</div> -->