.bg-contact {
  background: url(../../../assets/images/contact.jpg) no-repeat right center;
  background-size: cover;
  position: relative;
  z-index: 999;
}
.bg-contact::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
}

.h-custom-65vh {
  height: 65vh !important;
}
